$text-color: #404040;
$primary-color: #3339a6;
$secondary-color: #7233a6;
$accent-color: #ff6600;
$error-color: #ff3300;
$success-color: #1CC800;
$pending-color: #FF9900;
$background-color: #f9f9f9;

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

:root {
  --text-color: #{$text-color};
  --text-color-rgb: #{hexToRGB($text-color)};
  --primary-color: #{$primary-color};
  --primary-color-rgb: #{hexToRGB($primary-color)};
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 62.5%;
  background: $background-color;
}

body {
  font-family:  'Nunito', 'Roboto', sans-serif;
}

section {
  padding: 2rem;
}