$borderColor: #e0e0e0
ka-table
  position: relative
  display: block
  overflow: auto
  box-shadow: 0 -1px 0 0 $borderColor
  table
    margin: 0
    border: 0
    padding: 0
    border-collapse: collapse
    border-spacing: 0
    width: 100%
    overflow: hidden
    font-size: 1.4rem
    color: var(--text-color)
    thead
      tr
        box-shadow: inset 0 -1px 0 0 $borderColor
        background-color: #ffffff
      th
        padding: 1rem
        white-space: nowrap
    tbody
      transition: filter 0.3s
      tr
        background-color: #ffffff22
        box-shadow: inset 0 -1px 0 0 rgba($borderColor, 0.5)
        &:nth-child(even)
          background-color: #ffffff66
        &:hover, &:nth-child(even):hover
          background-color: rgba(var(--accent-color-rgb), 0.05)
      td
        padding: 1rem
        line-height: 1.4
        vertical-align: top
        a
          cursor: pointer
        small
          font-size: 1.2rem
          line-height: 1.2
          color: rgba(var(--text-color-rgb), 0.7)
  &.isLoading
    table tbody td:not(.ka-table-row-tools)
      filter: blur(2px)
