ka-datetime
  display: block
  .primary-nav
    align-items: center
    min-height: 4rem
    text-align: center
    border-bottom: 0.5px solid #c7c7c7
    button, select
      border: 0
      width: 100%
      height: 4rem
      text-align: center
      background-color: transparent
      cursor: pointer
      appearance: none
      &:focus-visible
        outline: 0
    .select-container
      position: relative
      .fa-angle-down
        position: absolute
        top: 50%
        right: 1rem
        transform: translateY(-50%)
        cursor: pointer
        pointer-events: none
    .nav-prev, .nav-next
      flex: 0 0 4rem
      background-color: var(--primary-color)
      button i
        color: #fff
    .nav-month, .nav-hours, .nav-minutes
      border-right: 0.5px solid #c7c7c7
    .nav-hours, .nav-minutes
      border-top: 0.5px solid #c7c7c7

  .weekdays
    flex-wrap: nowrap
    font-size: 1rem
    font-weight: 700
    line-height: 3rem
    color: var(--text-color)
    text-align: center
    text-transform: uppercase
  .days
    .col
      padding: 0
      button
        display: block
        margin: 0
        outline: none
        border: 0
        padding: 0
        width: 100%
        height: 3rem
        font-size: 1.2rem
        line-height: 3rem
        color: inherit
        text-align: center
        background: transparent
        cursor: pointer
        appearance: none
        &:not([disabled]):hover
          color: var(--primary-color)
          background: rgba(var(--secondary-color-rgb), 0.1)
        &.selected, &.selected:hover
          color: #ffffff
          background: var(--secondary-color)
        &[disabled]
          opacity: 0.5


ka-control-backdrop > div[ref="drawer"]
  &.xs ka-datetime, &.sm ka-datetime
    .primary-nav
      position: relative
      button, select
        height: 2rem
      select
        font-size: 1.2rem
      .nav-year, .nav-month
        flex: 0 0 calc(100% - 8rem)
        margin: 0 auto
      .nav-year
        border-top: 0.5px solid #c7c7c7
      .nav-prev, .nav-next
        position: absolute
        top: 0
        border: 0
        width: 4rem
        height: 100%
        button
          height: 100%
      .nav-prev
        left: 0
      .nav-next
        right: 0
  &.xs ka-datetime
    .primary-nav
      .nav-year, .nav-month
        flex: 0 0 100%
      .nav-prev, .nav-next
        display: none