.ka-tooltip
  pointer-events: none
  position: absolute
  z-index: 1100

  border-radius: 5px
  padding: 1rem 1rem

  font-size: 1.2rem
  font-weight: 400
  line-height: 1.4rem
  color: #ffffff

  opacity: 0
  background-color: var(--text-color)
  transition: opacity 0.3s

  &.visible
    opacity: 1
  > div.value
    a
      color: inherit
  > div.arrow
    position: absolute
    width: 8px
    height: 8px
    transform: rotate(45deg)
    background-color: inherit

  &.primary
    background-color: var(--primary-color)
  &.secondary
    background-color: var(--secondary-color)
